.module-sample-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100vw;
}

.accordion {
  width: 800px;
}

.container-other-interesting-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 792px;
  gap: 60px;
  margin-top: 165px;
  background: var(--gray-100, #F6F7FC);
}

.container-card-other-interesting-course {
  display: flex;
  gap: 50px;
}

.course-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
  width: 357px;
  height: 490px;
  gap: 24px;
}

.img-course-card {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.text-course-card {
  padding-left: 16px;
}


.footer-course-card {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 24px;
  border-top: 1px solid var(--gray-300, #E4E6ED);
}

.detail-footer-course-card {
  display: flex;
  align-items: center;
  color: #646D89;
  gap: 8px;
}