.sub-footer {
  display: flex;
  width: 1920px;
  height: 500px;
  padding: 90px 190px;
  gap: 550px;
  background: var(--utility-linear2, linear-gradient(271deg, #5697FF 7.78%, #2558DD 73.86%));
  position: relative;
  color: white;
  position: relative;
}

.left-sub-footer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.right-sub-footer-tech-logo  {
  position: absolute;
  right: 150px;
  top: 50px
}

.right-sub-footer-ellipse  {
  position: absolute;
  right: 850px;
  bottom: 70px
}

.right-sub-footer-polygon  {
  position: absolute;
  right: 60px;
  top: 120px;
}

.footer {
  display: flex;
  width: 1920px;
  height: 240px;
  padding: 0px 160px;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-700, #183056);
}

.button {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding: 5px 32px;
  gap: 10px;
  border: 1px solid var(--orange-500, #F47E20);
  border-radius: 12px;
  background: white;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
  color: var(--orange-500, #F47E20);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.button:hover {
  border: white;
  background: var(--orange-500, #F47E20);
  color: white;
}

.links {
  display: flex;
  gap: 72px;
  color: var(--gray-500, #C8CCDB);
}

.logo-box {
  display: flex;
  gap: 24px;
}

.logo-link {
  cursor: pointer;
}