.header {
    /* border: 3px solid red; */
    color: red;
    width: 100vw;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 160px 36px 160px;
}

.courseFlowLogo {
    /* border: 3px solid blue; */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 140px;
    height: 16px;
}

.headerRight {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.ourCourses {
    /* border: 3px solid orange; */
    display: flex;
    color: var(--dark-blue-500, #191C77);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.logInButton {
    /* border: 3px solid red; */
    cursor: pointer;
    display: flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 12px;
    background: var(--blue-500, #2F5FAC);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }