.container-professional-instructors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 823px;
  gap: 60px;
  position: relative;
}

.container-card {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: center;
  height: 520px;
  gap: 15px;
}

.polygon-position {
  position: absolute;
  left: 250px;
  bottom: 50px;
}

.container-graduates {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 823px;
  padding-top: 109px;
  gap: 60px;
  position: relative;
}

.container-card-graduates {
  display: flex;
  gap: 80px
}

.card-graduates {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  height: 310px;
  gap: 32px;
  position: relative;
}

.text-card-graduates-container {
  display: inline-flex;
  flex-direction: column;
  width: 750px;
  height: 310px;
  padding: 35px 25px 66px 90px;
  border-radius: 8px;
  background-color: var(--blue-100, #E5ECF8);
}

.picture-graduates-position {
  position: absolute;
  left: 5px;
}

.quotemark-left-position {
  position: absolute;
  top: -10px;
  left: 0px;
}

.quotemark-right-position {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.big-ellipse-right-position {
  position: absolute;
  top: 20px;
  right: 5px;
}

.small-ellipse-right-position {
  position: absolute;
  top: 100px;
  right: 120px;
}

.plus-position {
  position: absolute;
  bottom: 120px;
  left: 150px;
}

.mainTop {
  background: var(--blue-100, #E5ECF8);
  height: 700px;
  width: 100vw;
  padding-top: 165px;
  padding-left: 10%;
  position: relative;
}

.backgroundBlue,
.computer,
.ellipseLeft,
.cross,
.circleBlue,
.polygon,
.circleGreen {
  position: absolute;
  right: 0px;
  top: 0px;
}

.computer {
  right: 180px;
  top: 151px;
}

.ellipseLeft {
  left: 0px;
  top: 76px;
}

.cross {
  top: 161px;
  left: 820px;
}

.circleBlue {
  top: 543px;
  left: 680px;
}

.polygon {
  top: 573px;
  left: 1200px;
}

.circleGreen {
  right: 90px;
  top: 413px;
}

.box1 {
  width: 643px;
  height: 166px;
  color: var(--utility-black, #000);
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.32px;
  margin-bottom: 24px;
}

.box2 {
  width: 643px;
  height: 60px;
  color: var(--gray-700, #646D89);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.exploreButton {
  cursor: pointer;
  display: flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  background: var(--blue-500, #2F5FAC);
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.mainMiddle {
    /* border: 5px solid saddlebrown; */
    height: 1111px;
    width: 100vw;
    /* Jimmy PR8: Merged padding settings from the new branch. */
    padding-left: 159px;
    padding-top: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
  width: 1250px;
  height: 780px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.row1,
.row2 {
  display: flex;
  flex-direction: row;
  gap: 119px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textHead {
  width: 547px;
  height: 90px;
  color: var(--utility-black, #000);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.72px;
  margin-bottom: 40px;
}

.textSubhead {
  width: 487px;
  height: 30px;
  color: var(--utility-black, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.48px;
  margin-bottom: 10px;
}

.text {
  width: 487px;
  height: 48px;
  color: var(--gray-700, #646D89);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ellipseTop,
.circleGrey,
.crossPurple,
.ellipseBot {
  position: absolute;
}

.ellipseTop {
  top: 0px;
  left: 140px;
}

.circleGrey {
  top: 94px;
  left: 508px;
}

.crossPurple {
  top: 399px;
  right: 80px;
}

.ellipseBot {
  bottom: 0px;
  right: 122px;
}