.container-professional-instructors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 823px;
  gap: 60px;
  position: relative;
}

.container-card {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: center;
  height: 520px;
  gap: 15px;
}

.polygon-position {
  position: absolute;
  left: 250px;
  bottom: 50px;
}

.container-graduates {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: 823px;
  padding-top: 109px;
  gap: 60px;
  position: relative;
}

.container-card-graduates {
  display: flex;
  gap: 80px
}

.card-graduates {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  height: 310px;
  gap: 32px;
  position: relative;
}

.text-card-graduates-container {
  display: inline-flex;
  flex-direction: column;
  width: 750px;
  height: 310px;
  padding: 35px 25px 66px 90px;
  border-radius: 8px;
  background-color: var(--blue-100, #E5ECF8);
}

.picture-graduates-position {
  position: absolute;
  left: 5px;
}

.quotemark-left-position {
  position: absolute;
  top: -10px;
  left: 0px;
}

.quotemark-right-position {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.big-ellipse-right-position {
  position: absolute;
  top: 20px;
  right: 30px;
}

.small-ellipse-right-position {
  position: absolute;
  top: 100px;
  right: 120px;
}

.plus-position {
  position: absolute;
  bottom: 120px;
  left: 150px;
}


