.container-professional-instructors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 823px;
  gap: 60px;
}

.container-card {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: center;
  height: 520px;
  gap: 15px;
}